@use "partials/reset";
@use "partials/variables";
@use "partials/mixin";

@use "./components/header";
@use "./components/footer";

@use "./pages/hero";
@use "./pages/about";
@use "./pages/features";
@use "./pages/team";
@use "./pages/testimonials";
@use "./pages/contact";
@use "./pages/download";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: variables.$fontFamily;
    font-style: normal;
}

input, button, textarea, select {
    border: none;
    outline: none;
    font-family: inherit;
}

a {
    text-decoration: none;
}