* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 10px;
    background-color: rgb(162, 162, 162);
    border-radius: 5px;
}
.container p {
    margin: 20px 0 20px 0;
    width: 80%;
}
form {
    display: flex;
    width: 680px;
}
form .left ,
form .right {
    width: 50%;
}
form .left label,
form .right label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
form .left input,
form .right input {
    width: 300px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 2px;
    padding-left: 5px;
}
form .right select {
    width: 300px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 2px;
}
.input-information button {
    width: 640px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    color: white;
    background-color: rgb(39, 242, 110);
}
form .right input:checked {
    border: 1px solid red;
}
