h1 {
    color: rgb(59, 78, 114);
}
.instruct {
    color: rgb(51, 119, 159);
}
.find-out-more-link {
    color: rgb(58, 58, 202);
    font-weight: 500;
}
div.Content {
    width: 600px;
    border: 1px solid rgb(27, 32, 32);
    border-radius: 2% 2% 2% 2%;
}
div.main {
    max-width: 550px;
}
p.instruct {
    color: black;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content-js {
    padding: 20px 20px;
    border: 1px solid rgb(76, 76, 76);
    border-radius: 3px;
}
a {
    color: rgb(59, 113, 113);
}
