* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin: 20px auto;
    font-family: "Open Sans";   
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #00000080;
}

ul {
    display: flex;
    list-style: none;
}
li {
    background-color: #fff;
    padding: 5px;
    border-right: 0.8px solid #00000080;
    position: relative;
}
li a  {
    display: inline-block;
    padding: 10px;
    color: #666;
    text-decoration: none;
}
.fa-chevron-down {
    font-size: 0.6rem;
}

.contacts {
    border-left: 0.8px solid #00000080;
    padding: 15px;
    color: #666;
    text-decoration: none;
    display: inline-block;
}
.contacts:hover {
    background-color: #2da5da;
    color: #fff;
}
.nav-small {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #666666;
    box-shadow: 0px 0px 4px 1px #6b6b6b;
    min-width: 180px;
    
    display: none;
}

.nav-small::before {
    content: "";
    border: 5px solid;
    border-color:  transparent transparent #fff transparent;
    border-top-width: 0;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 8px;
}

.nav-small a {
    display: block;
    background-color: #fff;
}
li:hover .nav-small {
    display: flex;
    flex-direction: column;
    gap: 0.8px;
}
li:hover > a{
    background-color: #2da5da;
    color: #fff;
}
