body {
    height: 100vh;
    background-color: antiquewhite;
    background-image: url(https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg);
    position: relative;
}
article {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 1%;
    position:absolute;
    top:50%;
    left:55%;
    transform: translate(-40%, -50%);
    background-color: rgba(240, 248, 255, 0.524);
}
h3,
p {
    text-align: center;
}
a {
    color: black;
}