/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.services {
    text-align: center;
}
.services p {
    font-size: 0.8em;
    position: relative;
    top: -10px;
}
.service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 80px;
}
.service-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
}
.service-card  div {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 1.2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 1.2em;
}
.service-card p {
    font-size: 1em;
    margin-bottom: 20px;
}
.service-card button {
    padding: 10px 20px;
    background-color: #f0a93d;
    color: #fff;
    border: none;
    border-radius: 5px;
} */