body {
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    background-image: url(https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
article {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 1%;
    position:absolute;
    top:200px;
    left:520px;
    background-color: rgba(240, 248, 255, 0.524);
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.256)  ;
}
h2,
p {
    text-align: center;
}
a {
    color: black;
}