.footer {
    .container {
        .row {
            .col-md-12 {
                p {
                    text-align: center;
                    font-size: 1.4rem;
                    a {
                        color: #8e1efc;
                    }
                }
            }
        }
    }
}