.header {
    width: 100%;
    padding: 8px 0;
    background: #fff;
    position: fixed;
    z-index: 99;

    .container {

        .wrapper-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 160px ;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 0;
                margin-right: 16px;
                img {
                    width: 120px;
                    height: auto;
                }
            }

            .btn-navbar {
                padding: 4px 12px;

                i {
                    font-size: 2rem;
                }
            }

            .nav {
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                // transform: translateY(-130%);
                transform: scaleY(0);
                transform-origin: 0 0;
                transition: transform 0.5s ease;
                background: #fff;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .nav-item {
                        width: 98.3%;
                        a {
                            height: 50px;
                            display: block;
                            text-align: center;
                            font-weight: 600;
                            font-size: 13px;
                            color: #333;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            #btn-navbar:checked ~ .nav {
                // transform: translateY(0%);
                transform: scaleY(1);
            }
        }
    }
}