
.main {
    width: 100%;
    .banner {
        background: linear-gradient(to left, #7a60ff, #cd9ffa);
        padding: 100px 0px;
        position: relative;

        // &::before {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: url("../../img/pattern.png");
        // }

        .banner-overlay {
            // width: 100%;
            .container {
                // width: 100%;
                padding: 0px 15px;
                margin: 0 auto;
    
                .row {
    
                    .banner-test {
                        margin-top: 10px;
    
                        h2 {
                            font-size: 2.5rem;
                            font-weight: 700;
                            color: #ffffff;
                            margin-bottom: 8px;
                        }
    
                        h6 {
                            font-size: 1.6rem;
                            font-weight: 500;
                            color: #ffffff;
                            margin-bottom: 8px;
    
                            a {
                                @extend h6;
                                border-bottom: 1px solid #ffffff;
                            }
    
                        }
    
                        p {
                            margin: 25px 0px;
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: #ffffff;
                        }

                        ul {
                            display: block;
                            margin-bottom: 1.6rem;

                            li {
                                display: inline-block;
                                margin: 0 10px 10px 0;
                                a {
                                    display: inline-block;
                                    width: 140px ;
                                    height: 50px;

                                    img {
                                        width: 100%;
                                        height: auto;
                                        border-radius: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .svg-wave {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .about {
        padding: 40px 0;

        .container {
            
            .row {

                .about-header {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h3 {
                        font-size: 2.3rem;
                        color: #000;
                        font-weight: 700;
                        text-align: center;
                        margin-bottom: 8px;
                        width: 100%;
                    }

                    .line {
                        display: block;
                        height: 2px;
                        width: 50px;
                        background-color: #8e1efc;
                        margin: 1.8rem 0;

                        &::after {
                            content: "";
                            width: 150px;
                            position: absolute;
                            left: 50% ;
                            border: 2px dashed #8e1efc;
                            margin-left: -75px;
                        }
                    }

                    p {
                        color: #818992;
                        font-size: 1.4rem;
                        margin-bottom: 1.6rem;
                        text-align: center;
                    }
                }

                .about-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                   .col-md-4 {
                        padding: 0;
                        .item {
                            display: block;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 50px;
                            
                            i {
                                width: 135px;
                                height: 135px;
                                border-radius: 50%;
                                background: linear-gradient(to left, #7a60ff, #cd9ffa);
                                color: #ffffff;
                                font-size: 50px;
                                line-height: 135px;
                                margin: 0 auto;
                                text-align: center;
                            }

                            h5 {
                                margin-top: 30px;
                                margin-bottom: 8px;
                                color: #000;
                                font-weight: 600;
                                font-size: 20px;
                            }

                            p {
                                color: #818992;
                                font-size: 1.4rem;
                                margin-bottom: 1.6rem;
                                text-align: center;
                                margin: 0 5rem;
                            }
                        }
                   }
                }
            }

            .btn-about {
                padding: 10px 30px ;
                border: 2px solid #8e1efc;
                font-size: 1.6rem;
                color: #8e1efc;
                border-radius: 5px;
               }

        }
    }

    .features {
        background: linear-gradient(to left, #7a60ff, #cd9ffa);
        padding: 100px 0px 30px 0px;
        position: relative;

        .container {
            .row {
                .col-md-12 {
                    .col-md-4 {
                        padding: 0;
                    }
                    .features-header {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h3 {
                            font-size: 2.3rem;
                            color: #000;
                            font-weight: 700;
                            text-align: center;
                            margin-bottom: 8px;
                            width: 100%;
                        }
    
                        .line {
                            display: block;
                            height: 2px;
                            width: 50px;
                            background-color: #8e1efc;
                            margin: 1.8rem 0;
    
                            &::after {
                                content: "";
                                width: 150px;
                                position: absolute;
                                left: 50% ;
                                border: 2px dashed #8e1efc;
                                margin-left: -75px;
                            }
                        }
    
                        p {
                            color: #818992;
                            font-size: 1.4rem;
                            margin-bottom: 1.6rem;
                            text-align: center;
                        }
                    }

                    .features-content {
                        .row {
                            .content-right {
                                margin-bottom: 40px;
                                .item {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 20px 0;
                                    .item-content {
                                        color: #ffffff;
                                        text-align: right;
                                        margin-right: 25px;
                                        
                                        h5 {
                                            font-size: 1.6rem;
                                            font-weight: 600;
                                            margin-bottom: 8px;
                                        }
                                        p {
                                            font-size: 1.3rem;
                                            margin-bottom: 16px;
                                        }
                                    }
                                    .item-icon {
                                        span {
                                            display: block;
                                            position: relative;
                                            width: 50px;
                                            height: 50px;
                                            border-radius: 100px;
                                            color: rgb(142, 30, 252);
                                            font-size: 18px;
                                            line-height: 50px;
                                            border: 1px solid rgb(142, 30, 252);
                                            text-align: center;
                                        }
                                    }
                                }
                            }
    
                            .feature-mobile {
                                display: none;
                            }
    
                            .content-left {
                                .item {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 20px 0;
                                    .item-content {
                                        color: #ffffff;
                                        text-align: left;
                                        margin-left: 25px;
                                        
                                        h5 {
                                            font-size: 1.6rem;
                                            font-weight: 600;
                                            margin-bottom: 8px;
                                        }
                                        p {
                                            font-size: 1.3rem;
                                            margin-bottom: 16px;
                                        }
                                    }
                                    .item-icon {
                                        span {
                                            display: block;
                                            position: relative;
                                            width: 50px;
                                            height: 50px;
                                            border-radius: 100px;
                                            color: rgb(142, 30, 252);
                                            font-size: 18px;
                                            line-height: 50px;
                                            border: 1px solid rgb(142, 30, 252);
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    
    .team {
        .container {
            .row {
                .col-md-12 {
                    .team-header {
                        display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h3 {
                        font-size: 2.3rem;
                        color: #000;
                        font-weight: 700;
                        text-align: center;
                        margin-bottom: 8px;
                        width: 100%;
                    }

                    .line {
                        display: block;
                        height: 2px;
                        width: 50px;
                        background-color: #8e1efc;
                        margin: 1.8rem 0;

                        &::after {
                            content: "";
                            width: 150px;
                            position: absolute;
                            left: 50% ;
                            border: 2px dashed #8e1efc;
                            margin-left: -75px;
                        }
                    }

                    p {
                        color: #818992;
                        font-size: 1.4rem;
                        margin-bottom: 1.6rem;
                        text-align: center;
                    }
                    }

                    .team-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;  
                        .col-md-4 {
                            padding: 0;

                            .item {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin-bottom: 50px;
                                img {
                                    width: 50%;
                                    border-radius: 50%;
                                }
                                h4 {
                                    font-size: 17px;
                                    font-weight: 600;
                                    color: #8e1efc;
                                }
                                p {
                                    font-size: 1.4rem;
                                }
                            }

                        }
                        
                    }
                }
            }
        }
    }

    .testimonials {
        background: linear-gradient(to left, #7a60ff, #cd9ffa);
        padding: 100px 0px 30px 0px;
        position: relative;
        .container {
            .row {
                .col-md-12 {
                    .col-md-4 {
                        padding: 0;
                    }
                    .testimonials-header {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h3 {
                            font-size: 2.3rem;
                            color: #000;
                            font-weight: 700;
                            text-align: center;
                            margin-bottom: 8px;
                            width: 100%;
                        }
    
                        .line {
                            display: block;
                            height: 2px;
                            width: 50px;
                            background-color: #8e1efc;
                            margin: 1.8rem 0;
    
                            &::after {
                                content: "";
                                width: 150px;
                                position: absolute;
                                left: 50% ;
                                border: 2px dashed #8e1efc;
                                margin-left: -75px;
                            }
                        }
    
                        p {
                            color: #818992;
                            font-size: 1.4rem;
                            margin-bottom: 1.6rem;
                            text-align: center;
                            max-width: 600px;
                        }
                    }

                    .testimonials-content {
                        display: flex;
                        justify-content: center;
                        .item {
                            width: 500px;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            background: #c7c7c7;
                            text-align: center;
                            
                            img {
                                width: 40%;
                                border-radius: 50%;
                                border: 10px solid #ffffff;
                            }
                            .user-name-job {
                                font-size: 2.2rem;
                                font-weight: 700;
                                position: relative;
                                .job {
                                    position: absolute;
                                    top: 100%;
                                    left: 29%;
                                    font-size: 1.6rem;
                                    font-weight: 400;
                                }
                            }
                            p {
                                margin: 50px 15px 30px 15px;
                                font-size: 1.4rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {
        padding: 80px 0px;
        position: relative;
        text-align: center;
        .container {
            display: block;

            .contact-header {
                max-width: 600px;
                margin: 0 auto;
                h3 {
                    font-weight: 700;
                    font-size: 2.3rem;
                }
                span {
                    height: 2px;
                    width: 50px;
                    background: #8e1efc;
                    display: block;
                    margin: 20px auto 20px;
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    width: 150px;
                    height: 0.5px;
                    border-bottom: 2px dashed #8e1efc;
                    margin-left: -75px;
                    }
                }
                p {
                    color: #818992;
                    font-size: 17px;
                    margin-bottom: 1rem;
                    line-height: 1.5rem;
                }
            }
            .contact-content{
                margin-top: 80px;
                .col {
                    flex-basis: 0;
                    flex-grow: 1;
                    max-width: 100%;
                    position: relative;
                    min-height: 1px;
                }
                input,
                textarea {
                    border: 1px solid #e4e4e4;
                    width: 100%;
                    height: 42px;
                    padding: 0 1rem;
                    background: #fff;
                    border-radius: 30px;
                    margin-bottom: 1rem;
                    transition: all 0.3s ease-in-out;
                }
                textarea {
                    resize: none;
                    padding: 1rem;
                    height: 150px;
                    background: #fff;
                    border-radius: 30px;
                    margin-bottom: 1rem;
                }
                button {
                    padding: 0.7rem 2rem;
                    width: 100%;
                    display: inline-block;
                    color: #fff;
                    border-radius: 2rem;
                    border: 0;
                    background: #7a60ff;
                    background: linear-gradient(to left, #7a60ff, #cd9ffa);
                    cursor: pointer;
                }
            }
            .contact-info {
                padding: 2rem 2rem 1rem;
                border-radius: 8px;
                background: #7a60ff;
                background: linear-gradient(to left, #7a60ff, #cd9ffa);
                .contac-item {
                margin: 23px 0px;
                display: flex;
                align-items: flex-start;
                color: #fff;
                margin-bottom: 1.5rem;
                i {
                    font-size: 20px;
                    font-weight: 900;
                    margin-right: 25px;
                }
                }
                .text-info {
                text-align: start;
                text-transform: uppercase;
                p {
                    margin-top: 0.2rem;
                }
                a {
                    color: #fff;
                }
                }
            }
        }
    }
    .download {
        text-align: center;
        background: linear-gradient(to left, #7a60ff, #cd9ffa);
        padding: 100px 0px;
        position: relative;
        .container {
            display: block;
        
            .header-download {
                width: 69%;
                margin: 0 auto;
                h3 {
                    font-weight: 700;
                    font-size: 2.3rem;
                    color: #fff;
                }
                span {
                    height: 2px;
                    width: 50px;
                    background: #8e1efc;
                    display: block;
                    margin: 20px auto 20px;
                    color: #fff;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        width: 150px;
                        height: 0.5px;
                        border-bottom: 2px dashed #8e1efc;
                        margin-left: -75px;
                    }
                }
                p {
                    color: #fff;
                    font-size: 17px;
                    margin-bottom: 1rem;
                    line-height: 1.5rem;
                }
            }
            .content-download {
                margin-top: 80px;
                text-align: center;
                ul  {
                    li {
                        display: inline-block;
                        margin: 0px 10px 10px 0px;
                        img {
                            width: 150px;
                            border-radius: 7px;
                        }
                    }
                   
                }
            }
        }
    }
}