@use "../partials/mixin";

.footer {
    .container {
        .row {
            .col-12 {
                p {
                    text-align: center;
                    padding: 20px;
                    font-size: 1.3rem;
                    a {
                        color: #5f0099;
                    }
                }
            }
        }
    }
}