a {
    text-decoration: none;
}
/* body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 30px;
    margin-right: 10px;
}
.navbar .category{
    background-color: #f4f6f4;
    border: 1px solid #f4f6f4;
    border-radius: 99px;
    padding: 10px;
}
.category a{
    color: black;
    text-decoration: none ;
    height: 30px;
    margin-right: 10px;
}
.navbar .container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 5px 10px;
    display: block;
    font-weight: bold;
}
.navbar ul li a:hover {
    color: #7e4fd5;
}

.navbar .join-now {
    background: linear-gradient(90deg, #667eea, #764ba2);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.navbar .join-now:hover {
    opacity: 0.9;
} */
