@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #fff;
}
.header .container .row {
  margin: 20px 0;
}
.header .container .row .col-3 {
  margin: 0;
}
.header .container .row .col-3 .logo img {
  width: 160px;
}
.header .container .row .col-9 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.header .container .row .col-9 .nav-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}
.header .container .row .col-9 .nav-page .nav ul {
  display: flex;
  gap: 20px;
}
.header .container .row .col-9 .nav-page .nav ul li a {
  color: #333333;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px;
}
.header .container .row .col-9 .nav-page .nav ul li a:hover {
  color: #5f0099;
}
.header .container .row .col-9 .nav-page .nav ul li a.active {
  color: #5f0099;
}
.header .container .row .col-9 .nav-page .btn-navbar {
  display: none;
}
.header .container .row .col-9 .nav-page .btn-navbar i {
  font-size: 1.8rem;
  color: #5f0099;
}

@media screen and (max-width: 991.98px) {
  .header .container .row .col-9 .nav-page .nav {
    margin: 30px auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background: #fff;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: transform 0.2s ease;
  }
  .header .container .row .col-9 .nav-page .nav ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }
  .header .container .row .col-9 .nav-page .btn-navbar {
    display: block;
    margin-right: 20px;
  }
  .header .container .row .col-9 .nav-page #btn-navbar:checked ~ .nav {
    transform: scaleY(1);
  }
}
.footer .container .row .col-12 p {
  text-align: center;
  padding: 20px;
  font-size: 1.3rem;
}
.footer .container .row .col-12 p a {
  color: #5f0099;
}

.hero {
  padding: 150px 0 50px;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  position: relative;
}
.hero::before {
  content: "";
  background: url("../../img/pattern.png");
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero .container .row .col-6 .hero-content h2 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #fff;
}
.hero .container .row .col-6 .hero-content h6, .hero .container .row .col-6 .hero-content h6 a {
  font-size: 1.6 rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 8px;
}
.hero .container .row .col-6 .hero-content h6 a {
  border-bottom: 1px solid #fff;
}
.hero .container .row .col-6 .hero-content p {
  font-size: 1.4rem;
  color: #fff;
  padding-right: 80px;
  margin: 40px 0;
}
.hero .container .row .col-6 .hero-content .external-links a {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.hero .container .row .col-6 .hero-content .external-links a img {
  width: 150px;
  border-radius: 8px;
}
.hero .container .row .col-6 .img-phone {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.hero .container .row .col-6 .img-phone img {
  width: 250px;
}
.hero .container .svg-wave img {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1199.98px) {
  .hero .container {
    margin: 0 32px;
    padding: 15px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero .container {
    margin: 0 100px;
  }
  .hero .container .row .col-6 .img-phone {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .hero .container .row .col-6 .img-phone img {
    width: 250px;
  }
}
@media screen and (max-width: 575.98px) {
  .hero .container {
    margin: 0;
  }
}
.about {
  padding: 80px 0;
}
.about .container .row .col-12 {
  display: flex;
  justify-content: center;
}
.about .container .row .col-12 .header-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
}
.about .container .row .col-12 .header-about h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.about .container .row .col-12 .header-about .line {
  height: 2px;
  width: 50px;
  background: #8e1efc;
  display: block;
  margin: 20px auto 20px;
  position: relative;
}
.about .container .row .col-12 .header-about .line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150px;
  height: 2px;
  border-bottom: 2px dashed #8e1efc;
  margin-left: -75px;
}
.about .container .row .col-12 .header-about p {
  font-size: 1.7rem;
  color: #818992;
  margin: 0 0 16px;
}
.about .container .row .col-12 .about-item .row .col-4 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about .container .row .col-12 .about-item .row .col-4 .item i {
  padding: 40px;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  font-size: 5rem;
  color: #fff;
  border-radius: 50%;
}
.about .container .row .col-12 .about-item .row .col-4 .item i.fa-mobile {
  padding: 40px 47px;
}
.about .container .row .col-12 .about-item .row .col-4 .item i.fa-bolt-lightning {
  padding: 40px 47px;
}
.about .container .row .col-12 .about-item .row .col-4 .item h5 {
  font-size: 2rem;
  font-weight: 600;
  margin: 30px 0 8px;
}
.about .container .row .col-12 .about-item .row .col-4 .item p {
  width: 80%;
  color: #818992;
  font-size: 1.4rem;
}
.about .container .row .col-12 .btn-learn-more {
  font-size: 1.6rem;
  color: #8e1efc;
  padding: 10px 40px;
  border: 2px solid #8e1efc;
  border-radius: 7px;
  margin-top: 30px;
}
.about .container .row .col-12 .btn-learn-more:hover {
  background-color: #8e1efc;
  color: #fff;
}
.about .container .row .col-12 .btn-learn-more:active {
  background-color: #8e1efc;
  color: #fff;
}

@media screen and (max-width: 767.98px) {
  .about .container .row .col-12 .about-item .row .col-md-12 .item p {
    width: 55%;
  }
}
.features {
  padding: 80px 0;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
.features .container .row .col-12 {
  display: flex;
  justify-content: center;
}
.features .container .row .col-12 .header-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
}
.features .container .row .col-12 .header-features h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.features .container .row .col-12 .header-features .line {
  height: 2px;
  width: 50px;
  background: #8e1efc;
  display: block;
  margin: 20px auto 20px;
  position: relative;
}
.features .container .row .col-12 .header-features .line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150px;
  height: 2px;
  border-bottom: 2px dashed #8e1efc;
  margin-left: -75px;
}
.features .container .row .col-12 .header-features p {
  font-size: 1.7rem;
  color: #818992;
  margin: 0 0 16px;
}
.features .container .row .col-12 .features-item .row .col-4 {
  display: flex;
  flex-direction: column;
  gap: 130px;
}
.features .container .row .col-12 .features-item .row .col-4 .item {
  display: flex;
  align-items: flex-start;
  text-align: right;
  gap: 20px;
}
.features .container .row .col-12 .features-item .row .col-4 .item .content-item h5 {
  font-size: 1.6rem;
  margin-bottom: 8px;
  color: #fff;
}
.features .container .row .col-12 .features-item .row .col-4 .item .content-item p {
  font-size: 1.3rem;
  color: #fff;
  width: 80%;
  margin-left: auto;
}
.features .container .row .col-12 .features-item .row .col-4 .item i {
  font-size: 20px;
  color: #8e1efc;
  padding: 15px;
  border: 2px solid #8e1efc;
  border-radius: 50px;
}
.features .container .row .col-12 .features-item .row .col-4 .item i.fa-bolt {
  padding: 15px 16px;
}
.features .container .row .col-12 .features-item .row .col-4 .item i.fa-wifi {
  padding: 18px 15px;
}
.features .container .row .col-12 .features-item .row .col-4 .item i.fa-check-double {
  padding: 15px 16px;
}
.features .container .row .col-12 .features-item .row .col-4 .item i.fa-dollar-sign {
  padding: 15px 18px;
}
.features .container .row .col-12 .features-item .row .col-4 img {
  width: 290px;
  margin: 0 auto;
}
.features .container .row .col-12 .features-item .row .col-4.right .item {
  flex-direction: row-reverse;
  text-align: left;
}
.features .container .row .col-12 .features-item .row .col-4.right .item .content-item p {
  margin-right: auto;
  margin-left: 0;
}

@media screen and (max-width: 991.98px) {
  .features .container .row .col-12 .features-item .row .col-4 {
    gap: 40px;
  }
  .features .container .row .col-12 .features-item .row .col-4 img {
    width: 210px;
  }
}
@media screen and (max-width: 767.98px) {
  .features .container .row .col-12 .features-item .row {
    padding: 0 40px;
    gap: 40px;
  }
  .features .container .row .col-12 .features-item .row .center {
    display: none;
  }
}
.team {
  padding: 80px 0;
}
.team .container .row .col-12 {
  display: flex;
  justify-content: center;
}
.team .container .row .col-12 .header-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
}
.team .container .row .col-12 .header-team h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.team .container .row .col-12 .header-team .line {
  height: 2px;
  width: 50px;
  background: #8e1efc;
  display: block;
  margin: 20px auto 20px;
  position: relative;
}
.team .container .row .col-12 .header-team .line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150px;
  height: 2px;
  border-bottom: 2px dashed #8e1efc;
  margin-left: -75px;
}
.team .container .row .col-12 .header-team p {
  font-size: 1.7rem;
  color: #818992;
  margin: 0 0 16px;
}
.team .container .row .col-12 .team-item {
  width: 100%;
}
.team .container .row .col-12 .team-item .row .col-4 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .container .row .col-12 .team-item .row .col-4 .item img {
  width: 250px;
  border-radius: 50%;
}
.team .container .row .col-12 .team-item .row .col-4 .item h4 {
  color: rgb(142, 30, 252);
  margin-top: 20px;
  font-size: 17px;
  font-weight: 600;
}
.team .container .row .col-12 .team-item .row .col-4 .item p {
  font-size: 1.4rem;
  margin: 8px 0 16px;
}

@media screen and (max-width: 1199.98px) {
  .team .container .row .col-12 .team-item .row .col-4 .item img {
    width: 203px;
  }
}
@media screen and (max-width: 991.98px) {
  .team .container .row .col-12 .team-item .row .col-4 .item img {
    width: 147px;
  }
}
@media screen and (max-width: 767.98px) {
  .team .container .row .col-12 .team-item .row .col-4 .item img {
    width: 255px;
  }
}
.testimonials {
  padding: 80px;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
.testimonials .container .row .col-12 {
  display: flex;
  justify-content: center;
}
.testimonials .container .row .col-12 .header-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
}
.testimonials .container .row .col-12 .header-testimonials h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.testimonials .container .row .col-12 .header-testimonials .line {
  height: 2px;
  width: 50px;
  background: #8e1efc;
  display: block;
  margin: 20px auto 20px;
  position: relative;
}
.testimonials .container .row .col-12 .header-testimonials .line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150px;
  height: 2px;
  border-bottom: 2px dashed #8e1efc;
  margin-left: -75px;
}
.testimonials .container .row .col-12 .header-testimonials p {
  font-size: 1.7rem;
  color: #818992;
  margin: 0 0 16px;
}
.testimonials .container .row .col-12 .testimonials-item {
  margin-top: 40px;
}
.testimonials .container .row .col-12 .testimonials-item .row .col-12 .item {
  background-color: rgb(247, 238, 241);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 60px;
  border-radius: 8px;
}
.testimonials .container .row .col-12 .testimonials-item .row .col-12 .item img {
  width: 138px;
  border-radius: 50%;
  border: 12px solid #fff;
}
.testimonials .container .row .col-12 .testimonials-item .row .col-12 .item .information .title {
  font-size: 16px;
  margin-bottom: 30px;
}
.testimonials .container .row .col-12 .testimonials-item .row .col-12 .item .information .title span {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
}

.contact {
  padding: 80px 0;
}
.contact .container .row .col-12 {
  display: flex;
  justify-content: center;
}
.contact .container .row .col-12 .header-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
}
.contact .container .row .col-12 .header-contact h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.contact .container .row .col-12 .header-contact .line {
  height: 2px;
  width: 50px;
  background: #8e1efc;
  display: block;
  margin: 20px auto 20px;
  position: relative;
}
.contact .container .row .col-12 .header-contact .line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150px;
  height: 2px;
  border-bottom: 2px dashed #8e1efc;
  margin-left: -75px;
}
.contact .container .row .col-12 .header-contact p {
  font-size: 1.7rem;
  color: #818992;
  margin: 0 0 16px;
}
.contact .container .row .col-12 .form-contact {
  width: 100%;
}
.contact .container .row .col-12 .form-contact .row .col-7 .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact .container .row .col-12 .form-contact .row .col-7 .form .row {
  display: flex;
  gap: 10%;
  padding: 0 10px;
}
.contact .container .row .col-12 .form-contact .row .col-7 .form .row #name, .contact .container .row .col-12 .form-contact .row .col-7 .form .row #email {
  width: 45%;
  outline: 1px solid #cdcdcd;
  height: 42px;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 99px;
}
.contact .container .row .col-12 .form-contact .row .col-7 .form #subject {
  width: 100%;
  outline: 1px solid #cdcdcd;
  height: 42px;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 99px;
}
.contact .container .row .col-12 .form-contact .row .col-7 .form #message {
  width: 100%;
  height: 150px;
  outline: 1px solid #cdcdcd;
  border-radius: 30px;
  padding: 15px;
}
.contact .container .row .col-12 .form-contact .row .col-7 .form button {
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  padding: 10px 0;
  font-size: 1.6rem;
  font-size: 700;
  color: #fff;
  cursor: pointer;
  border-radius: 99px;
}
.contact .container .row .col-12 .form-contact .row .col-5 .item-contact {
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}
.contact .container .row .col-12 .form-contact .row .col-5 .item-contact .item {
  display: flex;
  gap: 20px;
}
.contact .container .row .col-12 .form-contact .row .col-5 .item-contact .item i {
  color: #fff;
  font-size: 22px;
}
.contact .container .row .col-12 .form-contact .row .col-5 .item-contact .item .text p {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

@media screen and (max-width: 1199.98px) {
  .contact .container {
    margin: 10px;
  }
}
.download {
  padding: 80px;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
.download .container .row .col-12 {
  display: flex;
  justify-content: center;
}
.download .container .row .col-12 .header-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
}
.download .container .row .col-12 .header-download h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.download .container .row .col-12 .header-download .line {
  height: 2px;
  width: 50px;
  background: #8e1efc;
  display: block;
  margin: 20px auto 20px;
  position: relative;
}
.download .container .row .col-12 .header-download .line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150px;
  height: 2px;
  border-bottom: 2px dashed #8e1efc;
  margin-left: -75px;
}
.download .container .row .col-12 .header-download p {
  font-size: 1.7rem;
  color: #818992;
  margin: 0 0 16px;
}
.download .container .row .col-12 .links {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}
.download .container .row .col-12 .links img {
  width: 120px;
  border-radius: 8px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

input, button, textarea, select {
  border: none;
  outline: none;
  font-family: inherit;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
